# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*

# Build files
build/
dist/
